:root {
  --backgroundColor: #262626;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: var(--backgroundColor); */
}

section {
  margin: 5rem;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  gap: 1rem;

  background: linear-gradient(45deg, hsl(0, 90%, 48%), hsl(32, 100%, 50%));
  border: none;
  border-radius: 2rem;
  width: 30%;
  margin: 0 auto;
  padding: 1rem;
}

label {
  color: rgb(249, 252, 251);
  font-size: 1.1rem;
  font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  border: none;
  border-radius: 2rem;
  box-shadow: 2px 2px 2px 2px black;
  height: 2rem;
  width: 80%;
  padding: 1rem;
}

.submit-button {
  padding: 1rem;
  border: none;
  width: 50%;
  border-radius: 2rem;
  background-color: var(--backgroundColor);
  color: aliceblue;
}

/* Data */

.data {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 2rem;
  margin: 0 auto;
  color: #262626;
}
